# MongoDB Connection String
MONGO_URL=mongodb+srv://<your-username>:<your-password>@cluster.mongodb.net/

# Server Port
PORT=3000

# JSON Web Token Secret
JWT_SECRET=your_super_secret_jwt_key
JWT_EXPIRES_IN=5d
JWT_COOKIE_EXPIRES_IN=5

# Redis Server URL (Optional for Cache)
REDIS_URL=redis://localhost:6379
