<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
        body {
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
    </style>
</head>

<body>

    <h1>URL Shortner</h1>

    <% if (locals.shortID) { %>
        <p>
            Redirect URL:
            <a href="http://localhost:3000/api/shorturl/<%= shortID %>" target="_blank">
                <%= shortID %>
            </a> 
        </p>
        <% } %>


            <form action="/api/shorturl" method="POST">
                <label for="url">Enter original URL : </label>
                <input type="text" name="url" id="url" placeholder="https://www.google.com">
                <button type="submit">Generate</button>
            </form>

</body>

</html